/*=====body style====*/

body {
    font-family: "Roboto", sans-serif;
    background-color: #FFFFFF;
    font-size: 16px;
    color: #434455;
    width: 1440px;
}

* {
    margin-top: 0;
    margin-bottom: 0;
    list-style-type: none;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}


/***
    h1,
    h2,
    h3,
    p {
        margin-top: 0;
        margin-bottom: 0;
    }
***/

ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}

/*======Header section======*/

.conteiner {
    display: flex;
    width: 1440px;
}

.header {
    border-bottom: 1px solid #E7E9FC;
    padding: 24px 156px;
}

.nav {
    display: flex;
}

.logo {
    display: inline-flex;
    height: 24px;
    align-items: center;
    flex-shrink: 0;
    margin-right: 76px;
}

.nav-list {
    display: flex;
    gap: 40px;
}

.nav-web {
    font-family: "Raleway", sans-serif;
    color: #4D5AE5;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    padding-left: 156px;
}

.nav-logo {
    color: #2E2F42;
}

.nav-logo:hover,
.nav-logo:focus {
    color: #4D5AE5;
}

.nav-link-item {
    color: #2E2F42;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    display: block;
}

.nav-link-item:hover,
.nav-link-item:focus {
    color: #404BBF;
}

address {
    font-style: normal;
    margin-left: auto;
}

.contacts-list {
    display: flex;
    gap: 40px;
}

.contacts-list-item-link {
    color: #434455;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.contacts-list-item-link:hover,
.contacts-list-item-link:focus {
    color: #404BBF;
}

/*======Main section======*/

.main {
    color: #2E2F42;
    width: 100%;
    margin: 0;
}

.section_one {
    display: flex;
    background-color: #2E2F42;
    box-sizing: border-box;
    width: 100%;
    padding: 188px 472px;
    flex-direction: column;
    align-items: center;
    gap: 48px;
    height: 600px;
}

.section-caption {
    color: #FFFFFF;
    text-align: center;
    width: 496px;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    /* margin-bottom: 48px;*/
}

.main-button {
    background-color: #4D5AE5;
    color: #FFF;
    display: block;
    /* width: 169px;
   height: 56px;*/
    padding: 16px 32px;
    align-items: flex-start;
    margin: 0 auto;
    border-radius: 4px;
    /* Button Text */
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
}

.main-button:hover,
.main-button:focus {
    background-color: #404BBF;
}

.section_two {
    padding: 106px 156px 120px 156px;
    box-sizing: border-box;
}

.section-list-item {
    box-sizing: border-box;
}

.section_three {
    background-color: #F4F4FD;
}

.section-title {
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

.section-list-item-subtitle {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.section-list-item-text {
    color: #434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.section-list-item_three {
    background-color: #FFFFFF
}

/*======Footer section======*/

.footer {
    background-color: #2E2F42;
}

.footer-web {
    color: #4D5AE5;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.footer-logo {
    color: #f4f4fd;
}

.footer-text {
    color: #F4F4FD;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}